name: CI/CD for Email Operator

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log into Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD_SYMBOLS_ALLOWED }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and Push Email Operator Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/besend:v1.0.0 .
          docker push ${{ secrets.DOCKER_USERNAME }}/besend:v1.0.0
